@import 'base.css';
main{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.titulo{
    padding-left: 20px;
    padding-right: 10px;
    width:90vw
}
h3, h4{
    background-color:rgb(69, 133, 230) ;
    border: 1px black dashed;
}
main img{
    width: 80%;
}