@import'Base.css';
.lançamentos{
    font-size: xx-large;
    color: rgb(255, 255, 255);
    float: left;
    margin-top: 50px;
    margin-left: 200px;
    padding: 30px;
}
.imagem{
    float: left;
    margin-left:200px ;
    margin-top: 45px;
}
.video{
    margin-left:250px ;
    margin-top: 50px;
    
}